.breadcrumb li {
  display: inline;
}
.breadcrumb li + li:before {
  content: ' > ';
  color: rgb(32, 32, 32);
}
.breadcrumb {
  // background-color: #8d0000;
  padding: 20px;
  a {
    color: rgb(94, 92, 92);
  }
}
